
.container{
  width: 250px;
  overflow-wrap: break-word;
  border: 2px solid #c0a;
  padding :10px 0px;
}
.employeeImg{
  width:calc(100% - 50px);
  margin-left:25px;
  margin-top: 5px;
}
.employeeName{
  font-size: 24px;
  color:#54a5fb;
  font-weight: 800;
  margin-left: 25px;
}
.employeeDetailWrapper{
  margin-top: 10px;
  margin-left:25px;
}
.employeeDetailLbl{
  color:#bbb
}